<!DOCTYPE html>
<html lang="en" data-ng-app="tableApp">
	<head>
		<title>table</title>
		<link href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet" media="all" />
	</head>

	<body ng-clock>
		<div class="container" ng-controller="tableCtrl as ctrl">
			<div class="row">
				<div class="col-sm-12">
					<h1>Table App<small>(Table operations)</small></h1>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" data-ng-click="ctrl.calculate()">
						Calculate
					</button>
					<button class="btn btn-primary" data-ng-click="ctrl.resetView()">
						Reset
					</button>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Select</th>
								<th>ID</th>
								<th>Name</th>
								<th>Age</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="person in ctrl.persons track by person.id">

								<td colspan="4" ng-if="person.showFlag" ng-show="person.toggleFlag"><details-table details="person.details"></details-table></td>

								<td ng-if="!person.showFlag">
								<input type="checkbox" ng-model="person.selected" />
								</td>
								<td ng-if="!person.showFlag">{{person.id}} <a ng-show="person.showDropIcon" ng-click="ctrl.toggleDetailsView($index)"> <i class="glyphicon glyphicon-plus"></i> </a></td>
								<td ng-if="!person.showFlag">{{person.name}}</td>
								<td ng-if="!person.showFlag">{{person.age}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>

		<script src="app/tableApp.js"></script>
		<script src="app/tableApp.controllers/tableController.js"></script>
		<script src="app/tableApp.directives/detailsTable.dir.js"></script>
	</body>

</html>
